<header>
    <div class="container">
        <div class="d-flex">
            <img src='./images/logo.png' width="200" />
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/add">Add user</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>